* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
   --color-white: white;
   --color-border: rgb(145, 145, 212);
   --color-silver: #CACACA;
}

ul {
   list-style: none;
}

.flex {
   display: flex;
}

.container {
   max-width: 1770px;
}

/* HEADER */

.header {
   background: white;
   border-bottom: 5px solid var(--color-border);
}

.logo__header {
   justify-content: space-between;
}

.nav {
   display: flex;
   align-items: center;
}

.nav__list {
   display: flex;
}

.nav__item {
   margin-right: 10px;
}

/* HERO */

.hero {
   border-bottom: 5px solid rgb(145, 145, 212);
}

.hero__nav {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
   height: 35px;
   background-color: silver;
}

.hero__img {
   width: 100%;
}

.hero__list {
   margin: 0;
   margin-right: 120px;
   column-gap: 20px;
   display: flex;
   
}

/* ABOUT */ 

.about__content {
   display: flex;
}

.right__list {
   display: flex;
}

.left__title {
   margin: 0;
   padding: 5px 20px 5px 10px;
   background-color: rgb(83, 81, 169, 0.86);
   color: white;
}

.nav__about {
   height: 500px;
   background-color: #CACACA;
}

.about__list {
   margin: 0;
}

.right__nav {
   display: flex;
}

.right__list {
   column-gap: 15px;
}

.right__title {
   border-bottom: 1px solid var(--color-silver);
}